

<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="mainText">
                <h2>Marinera Nortena Worldwide</h2>
                <p>Find the best places where to dance and learn Marinera from Peru!</p>
                <hr>
                <a href="#" role="button" class="btn btn-secondary">Welcome Inside</a>
            </div>
        </div>
    </div>
</div>










<% include partials/footer %>